.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 2fr 2fr;
  gap: 5px;
  padding: 5px;
  width: 1600px;
  height: 800px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  
}
.container > div.header {
  grid-area: header;
  height: 80px;
}
.container > div.header > div {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.container > div.menu {
  grid-area: menu;
  height: 600px;
  width: 600px;
}
.container > div.content {
  grid-area: content;
  height: 600px;
  width: 1000px;
}
.container > div.footer {
  grid-area: footer;
  height: 80px;
}

#flex-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}